<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/js/app.min.js"></script>
    <link rel="shortcut icon" href="./assets/images/favicon.ico">
    <title>管理系统</title>
    <link rel="stylesheet" href="/adminsys/app.min.css">
    <link rel="stylesheet" href="/adminsys/icons.min.css">
    <link rel="stylesheet" href="/adminsys/jquery-jvectormap-1.2.2.css">

</head>
<body>
   <div class="wrapper">
    <div class="left-side-menu active">

                <div class="slimScrollDiv in" style="position: relative; overflow: hidden; width: auto; height: 364px;"><div class="slimscroll-menu active" style="overflow: hidden; width: auto; height: 364px;">

                    <!-- LOGO -->
                    <a href="http://localhost/news/admin1.php?c=index&m=index" class="logo text-center active">
                        <span class="logo-lg">
                            <img src="assets/images/logo.png" alt="" height="16">
                        </span>
                        <span class="logo-sm">
                            <img src="assets/images/logo_sm.png" alt="" height="16">
                        </span>
                    </a>

                    <!--- Sidemenu -->
                    <ul class="metismenu side-nav in">

                        <li class="side-nav-title side-nav-item">Navigation</li>

                        <li class="side-nav-item active">
                            <a href="/admin.php?c=admin&m=index" class="side-nav-link active" aria-expanded="false">
                                <i class="dripicons-meter"></i>
                                <span> 主页 </span>
                            </a>
                        </li>
                        <li class="side-nav-item active">
                            <a href="/admin.php?c=news&m=index" class="side-nav-link active" aria-expanded="false">
                                <i class="dripicons-view-apps"></i>
                                <span> 新闻 </span>
                            </a>
                        </li>
                        <li class="side-nav-item active">
                            <a href="/admin.php?c=category&m=index" class="side-nav-link active" aria-expanded="false">
                                <i class="dripicons-copy"></i>
                                <span> 分类 </span>
                            </a>
                        </li>
                        <li class="side-nav-item active">
                            <a href="#" class="side-nav-link active" aria-expanded="false">
                                <i class="dripicons-browser"></i>
                                <span> 预留 </span>
                            </a>
                        </li>


                    </ul>
                </div></div>
                <!-- Sidebar -left -->
            </div>
        <div class="content-page">
            <div class="content">

                <!-- Topbar Start -->
