<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择频道 - 今日头条</title>
    <script src="/assets/index/js/rem.js"></script>
    <link rel="icon" href="/assets/index/img/icon.png" type="image/x-icon">
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/index/css/category.css">
</head>
<body>
<div class="top">
    <a href="/index.php?c=page&m=index" class="back">
        <img src="/assets/index/img/back.png" alt="">
    </a>
    <span>频道管理</span>
</div>
<div class="del">
    <span class="controlTitle">点击删除以下频道</span>
    <ul class="controlDetail">
        <?php foreach ($del as $k => $v) { ?>
        <li type = "<?php echo $v['id'] ?>" class="con">
            <?php echo $v['name'] ?>
        </li>
        <?php } ?>
    </ul>
</div>

<div class="add">
    <span class="controlTitle">点击添加以下频道</span>
    <ul class="controlDetail">
        <?php foreach ($add as $k => $v) { ?>
        <li type = "<?php echo $v['id'] ?>" class="con">
            <?php echo $v['name'] ?>
        </li>
        <?php } ?>
    </ul>
</div>



</body>
</html>
<script src="/assets/index/js/category.js"></script>